@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// General styles
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
.active{
    color: $clr-primary-5 !important;
}
.show-nav{
    transform: translate(0) !important;
}
.hide-nav{
    transform: translateX(100%) !important;
}
body{
    font-family: 'Spinnaker', sans-serif;
}

.download-app{
    text-align: center;
    margin: 25px 0;
    h4{
        color: $clr-white;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    p{
        line-height: 3;
        color: $clr-primary-5
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        li{
            margin: 0 5px;
        }

    }
}


h1,p{
    text-align: center;
}
h1{
    font-size: 30px;
    font-weight: 400;
    
}
p{
    line-height: 1.7;
    margin-top: 15px;
    font-weight: normal;
}

.main{
    header{
        .navbar{
            display: flex;
            background: $clr-primary-5;
            padding: 10px;
            position: fixed;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            width: 100%;
            z-index: 1;
            .logo{
                .logo-img{
                    width: 25%;
                }
            }
            .links{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                transition: $transition;
                background: rgba($clr-white, .95);
                height: 100vh;
                transform: translateX(100%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .link{
                    margin: 32px 0;
                    a{
                        font-size: 22px;
                        font-weight: bold;
                        color: $clr-primary-2;
                        transition: $transition;
                        &:hover{
                            color: $clr-secondary;
                        }
                    }
                }
            }
            .toggle-navbar{
                margin-right: 6%;
                margin-top: 6px;
                z-index: 1000;
                input[type="checkbox"]{
                    appearance: none;
                    visibility: hidden;
                    display: none;
                    &:checked ~ {
                        .bars{
                            .middle, .top, .bottom{
                                background: $clr-primary-5
                            }
                            .top{
                                transform: rotate(-45deg);
                                top: 9px;
                            }
                            .middle{
                                transform: rotate(45deg);
                                top: 4px;
                                right: -2px;
                            }
                            .bottom{
                                transform: rotate(-135deg);
                                top: 14px;
                                left: -2px;
                            }
                        }
                        .links{
                            transform: translate(0) !important;
                        }
                    }
                }
                .bars{
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    .middle, .top, .bottom{
                        height: 3px;
                        width: 30px;
                        background: $clr-white;
                        border-radius: 50px;
                        position: absolute;
                        transition: .3s ease;
                    }
                    .middle{
                        right: 0;
                        width: 15px;
                    }
                    .top{
                        top: 11px;
                    }
                    .bottom{
                        top: 22px;
                        width: 15px;
                        left: 0;
                    }
                }
            }
        }
    }
    .main-content{
        .hero{
            background: url("../images/bg/bg-1.png") center/cover no-repeat;
            padding: 25px;
           .content{
               padding-top: 75px;
                .left-aside{
                    article{
                        .title{
                            color: $clr-white;
                            text-align: center;
                            h1{
                                font-size: 30px;
                                font-weight: 500;
                                line-height: 1;
                            }
                            p{
                                line-height: 3;
                                font-size: 18px;
                            }
                        }
                        .download-app{
                            p{
                                margin: 2px 0;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .right-aside{
                    display: none;
                }
           }
        }
        .design-sprint{
            padding: 20px;
            .right{
                p{
                    color: $clr-primary-5;
                }
            }
        }
        .our-product{
            padding: 20px;
            background: url("https://static.wixstatic.com/media/ec9816_6cad91bd1e0e48f19fb000611fe63bb7~mv2.png/v1/fill/w_1075,h_768,al_c,q_95/ec9816_6cad91bd1e0e48f19fb000611fe63bb7~mv2.webp") center/cover no-repeat;
           .title {
                color: $clr-white;
                margin-top: 30px;
                margin-bottom: 35px;
                p{
                    line-height: 1.7;
                }
            }
            .product-images{
                .gallery-1, .gallery-3{
                    display: none;
                }
            }
           .download-app{
               p{
                   line-height: 0;
               }
           }
        }
        .why-dezy-it{
            margin: 60px 0;
            padding: 20px;
            h1{
                color: $clr-primary-5;
            }
            .why-wrapper{
                margin-top: 30px;
                .single-dezy{
                    display: flex;
                    flex-direction: column;
                    .left{
                        .dezy-title{
                            position: relative;
                            font-size: 25px;
                            color: $clr-primary-5;
                            &::before{
                                content: '';
                                position: absolute;
                                width: 250px;
                                height: 3.5px;
                                background: $clr-primary-2;
                                bottom: -15px;
                                left: 50%;
                                transform: translate(-50%);
                            }
                        }
                        .dezy-text{
                            font-size: 14px;
                            color: $clr-primary-5;
                            margin-top: 35px;
                        }
                    }
                    .right{
                        order: -1;
                    }
                }
            }
        }

        .blog{
            background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) , url("../images/bg/bg-1.png") center/cover no-repeat;
            padding: 24px;
            h1{
                color: $clr-white;
                margin: 25px 0;
                font-size: 35px;
            }
            .posts{
                .single-post{
                    background: $clr-white;
                    margin: 30px 0;
                    
                    .post-content{
                        padding: 24px;
                        margin: 15px 0;
                        color : $clr-grey-2;
                        .posted{
                            display: flex;
                            color: $clr-grey-3;
                            li{
                                .dot{
                                    margin-left: 4px;
                                }
                                .time{
                                    font-size: 13px;
                                }
                            }
                        }
                        .post-title{
                            font-weight: normal;
                            font-size: 20px;
                           margin: 20px 0;
                           width: 90%;
                        }
                        .post-body{
                            text-align: left;
                            color: $clr-grey-3;
                        }
                    }
                }
            }
            .pagination{
                ul{
                    display: flex;
                    justify-content: space-around;
                    .navigator{
                        color: $clr-grey-2;
                        font-size: 18px;
                        cursor: pointer;
                    }
                    .disabled{
                        color: $clr-grey;
                    }
                }
            }
        }
    }
    footer{
        background: $clr-primary-5;
        padding: 20px;
        .footer-wrapper{
            display: flex;
            flex-direction: column;
            color: $clr-white;
            // .contact-form, .quick-links, .contact-address {
            //     .title{
            //         // font-weight: 500;
            //     }
            // }
            .quick-links{
                .about{
                    display: none;
                }
                .download-app{
                    margin: 10px 0;
                    .title{
                        font-size: 25px;
                        margin: 20px 0;
                    }
                    ul{
                        flex-direction: column;
                        .store-logo{
                            margin: 5px 0;
                                img{
                                    width: 80%;
                                }
                        }
                    }
                }
            }
            .contact-form{
                display: none;
            }
            .contact-address{
                text-align: center;
                .title{
                    margin: 15px 0;
                }
                .email{
                    font-size: 13px;
                }
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
                    line-height: 3;
                    .social-link{
                        margin: 0 10px;
                        a{
                            color: $clr-white;
                            font-size: 20px;
                        }
                    }
                }
                .copyright{
                    display: block;
                    margin-bottom: 30px;

                }
            }
        }
    }
    .scroll_top{
        position: fixed;
        background: $clr-primary-2;
        border: 1px solid $clr-white;
        padding: 15px 18px;
        color: $clr-white;
        border-radius: 50%;
        bottom: 15%;
        right: 8%;
    }
}

// Media Queries
@media screen and (min-width: $breakpoint-sm){
    .main{
        header{
            .navbar{
                .logo{
                    .logo-img{
                        max-width: 15%;
                    }
                }
            }
        }
        .main-content{
            .hero{
                padding: 10px 60px;
                .content{
                    padding-top: 80px;
                }
            }
            .design-sprint{
               max-width: 75%;
               margin: 0 auto;
               padding-bottom: 60px;
            }
            .our-product{
               padding: 20px 60px;
               padding-bottom: 40px;
            }
            .why-dezy-it{
                padding: 40px;
            }
            .blog{
                padding: 60px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md){
    p{
        font-size: 13px;
    }
    .main{
        .main-content{
            .hero{
                padding: 20px 60px;
                .content{
                    width: 60%;
                    margin: 0 auto;
                    .left-aside{
                        article{
                            .title{
                                h1{
                                    font-size: 20px;
                                }
                                p{
                                    font-size: 14px;
                                }
                            }
                            .iphone-animate{
                                text-align: center;
                                img{
                                    width: 80%;
                                }
                            }
                        }
                    }
                }
            }
            .design-sprint{
               max-width: 90%;
               display: grid;
               grid-template-columns: 1fr 300px;
               margin: initial;
               margin: 60px 0;
               .right{
                   margin-left: 20px;
                   h1,p{
                    text-align: left;
                   }
               }
            }
            .our-product{
               padding: 20px 200px;
               .product-images{
                   .gallery-2{
                       .iphone-animate{
                           text-align: center;
                           img{
                               width: 80%;
                            }
                        }
                    }
               }
            }
            .why-dezy-it{
                padding: 0;
                .why-wrapper{
                    width: 80%;
                    margin: 0 auto;
                    .single-dezy{
                       display: grid;
                       grid-template-columns: 300px 1fr;
                       margin: 10px 0;
                       .right{
                           order: 1;
                           margin-left: 50px;
                           img{
                            width: 300px;
                            height: 340px;
                            object-fit: cover;
                        }
                       }
                       .left{
                           align-self: center;
                           .dezy-title{
                               font-size: 18px;
                               text-align: initial;
                               &::before{
                                left: 33%;
                                height: 3px;
                                bottom: -12px;
                                width: 200px;
                               }
                           }
                           .dezy-text{
                               text-align: initial;
                               font-size: 13px;
                           }
                       }
                       &:nth-child(even){
                           .right {
                            order: 0;
                            margin-left: -40px;
                           }
                           .left{
                               order: 1;
                               width: 280px;
                               margin-left: 20px;
                               .dezy-title{
                                   &::before{
                                    left: 36%;
                                   }
                               }
                           }
                       }
                    }
                }
            }
            .blog{
                padding: 20px;
                padding-bottom: 80px;
                .posts{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1rem;
                    padding-bottom: 20px;
                    .single-post{
                        margin: 10px 0;
                        .post-content{
                            .posted{
                                font-size: 12px;
                            }
                            .post-title{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .pagination{
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-lg){
    .main{
        header{
            .navbar{
                display: grid;
                grid-template-columns: 300px 1fr;
                padding: 20px;
                .logo{
                    width: 500px;
                    margin-left: 100px;
                    .logo-img{
                        width: 100%;
                    }
                }
                .links {
                    display: initial;
                    background: none;
                    position: initial;
                    height: initial;
                    width: 600px;
                    transform: translate(0);
                    .link{
                        display: inline-block;
                        margin: 10px 0;
                        padding: 0 25px;
                        a{
                            font-size: 16px;
                            color: $clr-white;
                        }
                        .active{
                            color: $clr-secondary !important;
                        }
                    }

                }
                .toggle-navbar{
                    display: none;
                }
            }
        }
        .main-content{
            .hero{
                position: relative;
                min-height: 90vh;
                .content{
                    display: grid;
                    grid-template-columns: 1fr 250px;
                    width: 80%;
                    max-width: 80%;
                    margin-top: 30px;
                    .left-aside{
                        margin-top: 40px;
                        article{
                            .title{
                                h1{
                                    font-size: 35px;
                                    line-height: 1.2;
                                }
                                p{
                                    font-size: 18px;
                                }
                               h1,p{
                                text-align: left;
                               }
                            }
                            .iphone-animate{
                                display: none;
                            }
                            .download-app{
                                text-align: left;
                                margin-top: 40px;
                                p{
                                    text-align: left;
                                }
                                ul{
                                    justify-content: initial;
                                    align-items: initial;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .right-aside{
                        display: block;
                        .iphone-animate{
                            position: absolute;
                            img{
                                height: 460px;
                            }
                        }
                    }
                }
            }
            .design-sprint{
               .right{
                   align-self: center;
                   h1{
                       color: $clr-primary-5;
                       font-size: 35px;
                   }
               }
            }
            .our-product{
                padding: 20px 20px;
                padding-top: 40px;
                padding-bottom: 40px;
                .title{
                    h1{
                        font-size: 35px;
                    }
                    p{
                        width: 60%;
                        margin: 0 auto;
                        padding: 20px 0;
                    }
                }
                .product-images{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 80%;
                    margin: 0 auto;
                    .gallery-1, .gallery-3{
                        display: block;
                    }
                }
                .download-app{
                    margin-top: 40px;
                    h4{
                        font-size: 20px;
                    }
                    p{
                        color: $clr-primary-2;
                        margin: 20px 0;
                        font-size: 16px;
                    }
                    ul{
                        width: 30%;
                    }
                }
            }
            .why-dezy-it{
                .why-wrapper{
                    .single-dezy{
                        &:nth-child(1){
                            .right{
                                justify-self: center;
                            }
                        }
                        &:nth-child(2){
                            .left{
                                justify-self: center;
                            }
                        }
                        &:nth-child(3){
                            .right{
                                justify-self: center;
                            }
                        }
                    }
                }
            }
            .blog{
                .posts{
                    padding: 30px;
                }
                .pagination{
                    width: 40%;
                }
            }
        }
        footer{
            .footer-wrapper{
                display: grid;
                grid-template-columns: 1fr .8fr .7fr;
                width: 95%;
                margin: 0 auto;
                padding: 40px 0;
                .contact-form{
                    display: block;
                    .title{
                        text-align: left;
                        margin-bottom: 10px;
                    }
                    .form-container{
                        form{
                            .form-group{
                                margin: 15px 0;
                                input, textarea{
                                    background: none;
                                    border: none;
                                    border-bottom: 1px solid $clr-white;
                                    font-family: inherit;
                                    padding: 5px;
                                    width: 90%;
                                    color: $clr-white;
                                    &::placeholder{
                                        color: $clr-white
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                    &:hover{
                                        border-bottom: 2px solid $clr-white;
                                    }
                                }
                            }
                            .btn{
                                text-align: right;
                                .submit-btn{
                                    background: none;
                                    border: 1px solid $clr-white;
                                    border: 1px solid $clr-white;
                                    border-radius: 5px;
                                    font-family: inherit;
                                    padding: 5px 20px;
                                    color: $clr-white;
                                    margin-right: 10%;
                                }
                            }
                        }
                    }
                }
                .quick-links{
                    .about{
                        display: block;
                        .title{
                            text-align: center;
                            margin-bottom: 10px;
                        }
                        ul{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .link{
                                border: 1px solid $clr-white;
                                padding: 3px 0;
                                width: 170px;
                                margin: 10px 0;
                                border-radius: 5px;
                                a{
                                    color: $clr-white;
                                }
                            }
                        }
                    }
                    .download-app{
                        margin-top: 120px;
                        ul{
                            flex-direction: row;
                            width: 90%;
                        }
                    }
                }
                .contact-address{
                    text-align: left;
                    .title{
                        margin-top: 0;
                        text-align: left;
                    }
                    .email{
                        text-align: left;

                    }
                    ul{
                        justify-content: initial;
                        margin-top: 0;
                        .social-link{
                            margin: 0;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-xl){
    .main{
        header{
            .navbar{
                .logo{
                    margin-left: 180px;
                }
                .links  {
                    margin-left: 280px;
                }
            }
        }
        .main-content{
            .hero{
                min-height: 100vh;
                .content{
                    width: 70%;
                    .left-aside{
                        article{
                            .title{
                                h1{
                                    font-size: 50px;
                                }
                                p{
                                    font-size: 18px;
                                }
                            }
                            .download-app{
                                h4{
                                    font-size: 24px;
                                }
                                p{
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .right-aside{
                        .iphone-animate{
                            img{
                                height: 560px;
                            }
                        }
                    }
                }
            }
            .design-sprint{
                width: 70%;
                grid-template-columns: 1fr 380px;
                margin: 0 auto;
                margin-top: 60px;
                .right{
                    h1{
                        font-size: 45px;
                    }
                }
            }
            .our-product{
                .title{
                    h1{
                        font-size: 50px;
                    }
                    p{
                        width: 40%;
                    }
                }
                .product-images{
                    width: 70%;
                }
            }
            .why-dezy-it{
                h1{
                    font-size: 50px;
                }
                .why-wrapper{
                    width: 60%;
                    .single-dezy{
                        margin: 40px 0;
                        .left{
                            .dezy-title{
                                font-size: 25px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .blog{
                h1{
                    font-size: 50px;
                }
                .posts{
                    width: 70%;
                    margin: 0 auto;
                    gap: 2rem;
                }
                .pagination{
                    ul{
                        width: 40%;
                        margin: 0 auto;
                    }
                }
            }
        }
        footer{
            .footer-wrapper{
                width: 70%;
                .contact-address{
                    justify-self: end;
                }
                .quick-links{
                    .download-app{
                        ul{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}