@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");
.color-primary-5 {
  color: #302b70 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.active {
  color: #302b70 !important;
}

.show-nav {
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

.hide-nav {
  -webkit-transform: translateX(100%) !important;
          transform: translateX(100%) !important;
}

body {
  font-family: 'Spinnaker', sans-serif;
}

.download-app {
  text-align: center;
  margin: 25px 0;
}

.download-app h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.download-app p {
  line-height: 3;
  color: #302b70;
}

.download-app ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.download-app ul li {
  margin: 0 5px;
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

p {
  line-height: 1.7;
  margin-top: 15px;
  font-weight: normal;
}

.main header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #302b70;
  padding: 10px;
  position: fixed;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1;
}

.main header .navbar .logo .logo-img {
  width: 25%;
}

.main header .navbar .links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background: rgba(255, 255, 255, 0.95);
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main header .navbar .links .link {
  margin: 32px 0;
}

.main header .navbar .links .link a {
  font-size: 22px;
  font-weight: bold;
  color: #787Cd1;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.main header .navbar .links .link a:hover {
  color: #f1a042;
}

.main header .navbar .toggle-navbar {
  margin-right: 6%;
  margin-top: 6px;
  z-index: 1000;
  cursor: pointer;
}

.main header .navbar .toggle-navbar input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  visibility: hidden;
  display: none;
}

.main header .navbar .toggle-navbar input[type="checkbox"]:checked ~ .bars .middle, .main header .navbar .toggle-navbar input[type="checkbox"]:checked ~ .bars .top, .main header .navbar .toggle-navbar input[type="checkbox"]:checked ~ .bars .bottom {
  background: #302b70;
}

.main header .navbar .toggle-navbar input[type="checkbox"]:checked ~ .bars .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.main header .navbar .toggle-navbar input[type="checkbox"]:checked ~ .bars .middle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
  right: -2px;
}

.main header .navbar .toggle-navbar input[type="checkbox"]:checked ~ .bars .bottom {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 14px;
  left: -2px;
}

.main header .navbar .toggle-navbar input[type="checkbox"]:checked ~ .links {
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

.main header .navbar .toggle-navbar .bars {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main header .navbar .toggle-navbar .bars .middle, .main header .navbar .toggle-navbar .bars .top, .main header .navbar .toggle-navbar .bars .bottom {
  height: 3px;
  width: 30px;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main header .navbar .toggle-navbar .bars .middle {
  right: 0;
  width: 15px;
}

.main header .navbar .toggle-navbar .bars .top {
  top: 11px;
}

.main header .navbar .toggle-navbar .bars .bottom {
  top: 22px;
  width: 15px;
  left: 0;
}

.main .main-content .hero {
  background: url("../images/bg/bg-1.png") center/cover no-repeat;
  padding: 25px;
}

.main .main-content .hero .content {
  padding-top: 75px;
}

.main .main-content .hero .content .left-aside article .title {
  color: #fff;
  text-align: center;
}

.main .main-content .hero .content .left-aside article .title h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}

.main .main-content .hero .content .left-aside article .title p {
  line-height: 3;
  font-size: 18px;
}

.main .main-content .hero .content .left-aside article .download-app p {
  margin: 2px 0;
  font-weight: bold;
}

.main .main-content .hero .content .right-aside {
  display: none;
}

.main .main-content .design-sprint {
  padding: 20px;
}

.main .main-content .design-sprint .right p {
  color: #302b70;
}

.main .main-content .our-product {
  padding: 20px;
  background: url("https://static.wixstatic.com/media/ec9816_6cad91bd1e0e48f19fb000611fe63bb7~mv2.png/v1/fill/w_1075,h_768,al_c,q_95/ec9816_6cad91bd1e0e48f19fb000611fe63bb7~mv2.webp") center/cover no-repeat;
}

.main .main-content .our-product .title {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 35px;
}

.main .main-content .our-product .title p {
  line-height: 1.7;
}

.main .main-content .our-product .product-images .gallery-1, .main .main-content .our-product .product-images .gallery-3 {
  display: none;
}

.main .main-content .our-product .download-app p {
  line-height: 0;
}

.main .main-content .why-dezy-it {
  margin: 60px 0;
  padding: 20px;
}

.main .main-content .why-dezy-it h1 {
  color: #302b70;
}

.main .main-content .why-dezy-it .why-wrapper {
  margin-top: 30px;
}

.main .main-content .why-dezy-it .why-wrapper .single-dezy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main-content .why-dezy-it .why-wrapper .single-dezy .left .dezy-title {
  position: relative;
  font-size: 25px;
  color: #302b70;
}

.main .main-content .why-dezy-it .why-wrapper .single-dezy .left .dezy-title::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 3.5px;
  background: #787Cd1;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main .main-content .why-dezy-it .why-wrapper .single-dezy .left .dezy-text {
  font-size: 14px;
  color: #302b70;
  margin-top: 35px;
}

.main .main-content .why-dezy-it .why-wrapper .single-dezy .right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.main .main-content .blog {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../images/bg/bg-1.png") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg/bg-1.png") center/cover no-repeat;
  padding: 24px;
}

.main .main-content .blog h1 {
  color: #fff;
  margin: 25px 0;
  font-size: 35px;
}

.main .main-content .blog .posts .single-post {
  background: #fff;
  margin: 30px 0;
}

.main .main-content .blog .posts .single-post .post-content {
  padding: 24px;
  margin: 15px 0;
  color: #303030;
}

.main .main-content .blog .posts .single-post .post-content .posted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9e9e9e;
}

.main .main-content .blog .posts .single-post .post-content .posted li .dot {
  margin: 0 10px;
  position: relative;
}

.main .main-content .blog .posts .single-post .post-content .posted li .dot::before {
  width: 2px;
  height: 2px;
  position: absolute;
  background: #727272;
  content: "";
  bottom: 45%;
}

.main .main-content .blog .posts .single-post .post-content .posted li .time {
  font-size: 13px;
}

.main .main-content .blog .posts .single-post .post-content .post-title {
  font-weight: normal;
  font-size: 20px;
  margin: 20px 0;
  width: 90%;
}

.main .main-content .blog .posts .single-post .post-content .post-body {
  text-align: left;
  color: #9e9e9e;
}

.main .main-content .blog .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .main-content .blog .pagination ul .navigator {
  color: #303030;
  font-size: 18px;
  cursor: pointer;
}

.main .main-content .blog .pagination ul .disabled {
  color: #727272;
}

.main footer {
  background: #302b70;
  padding: 20px;
}

.main footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.main footer .footer-wrapper .quick-links .about {
  display: none;
}

.main footer .footer-wrapper .quick-links .download-app {
  margin: 10px 0;
}

.main footer .footer-wrapper .quick-links .download-app .title {
  font-size: 25px;
  margin: 20px 0;
}

.main footer .footer-wrapper .quick-links .download-app ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main footer .footer-wrapper .quick-links .download-app ul .store-logo {
  margin: 5px 0;
}

.main footer .footer-wrapper .quick-links .download-app ul .store-logo img {
  width: 80%;
}

.main footer .footer-wrapper .contact-form {
  display: none;
}

.main footer .footer-wrapper .contact-address {
  text-align: center;
}

.main footer .footer-wrapper .contact-address .title {
  margin: 15px 0;
}

.main footer .footer-wrapper .contact-address .email {
  font-size: 13px;
}

.main footer .footer-wrapper .contact-address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  line-height: 3;
}

.main footer .footer-wrapper .contact-address ul .social-link {
  margin: 0 10px;
}

.main footer .footer-wrapper .contact-address ul .social-link a {
  color: #fff;
  font-size: 20px;
}

.main footer .footer-wrapper .contact-address .copyright {
  display: block;
  margin-bottom: 30px;
}

.main .scroll_top {
  position: fixed;
  background: #787Cd1;
  border: 1px solid #fff;
  padding: 15px 18px;
  color: #fff;
  border-radius: 50%;
  bottom: 15%;
  right: 4%;
  cursor: pointer;
}

@media screen and (min-width: 540px) {
  .main header .navbar .logo .logo-img {
    max-width: 15%;
  }
  .main .main-content .hero {
    padding: 10px 60px;
  }
  .main .main-content .hero .content {
    padding-top: 80px;
  }
  .main .main-content .design-sprint {
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .main .main-content .our-product {
    padding: 20px 60px;
    padding-bottom: 40px;
  }
  .main .main-content .why-dezy-it {
    padding: 40px;
  }
  .main .main-content .blog {
    padding: 60px;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 13px;
  }
  .main .main-content .hero {
    padding: 20px 60px;
  }
  .main .main-content .hero .content {
    width: 60%;
    margin: 0 auto;
  }
  .main .main-content .hero .content .left-aside article .title h1 {
    font-size: 20px;
  }
  .main .main-content .hero .content .left-aside article .title p {
    font-size: 14px;
  }
  .main .main-content .hero .content .left-aside article .iphone-animate {
    text-align: center;
  }
  .main .main-content .hero .content .left-aside article .iphone-animate img {
    width: 80%;
  }
  .main .main-content .design-sprint {
    max-width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 300px;
        grid-template-columns: 1fr 300px;
    margin: initial;
    margin: 60px 0;
  }
  .main .main-content .design-sprint .right {
    margin-left: 20px;
  }
  .main .main-content .design-sprint .right h1, .main .main-content .design-sprint .right p {
    text-align: left;
  }
  .main .main-content .our-product {
    padding: 20px 200px;
  }
  .main .main-content .our-product .product-images .gallery-2 .iphone-animate {
    text-align: center;
  }
  .main .main-content .our-product .product-images .gallery-2 .iphone-animate img {
    width: 80%;
  }
  .main .main-content .why-dezy-it {
    padding: 0;
  }
  .main .main-content .why-dezy-it .why-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    margin: 10px 0;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 50px;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy .right img {
    width: 300px;
    height: 340px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy .left {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy .left .dezy-title {
    font-size: 18px;
    text-align: initial;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy .left .dezy-title::before {
    left: 33%;
    height: 3px;
    bottom: -12px;
    width: 200px;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy .left .dezy-text {
    text-align: initial;
    font-size: 13px;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy:nth-child(even) .right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: -40px;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy:nth-child(even) .left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 280px;
    margin-left: 20px;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy:nth-child(even) .left .dezy-title::before {
    left: 36%;
  }
  .main .main-content .blog {
    padding: 20px;
    padding-bottom: 80px;
  }
  .main .main-content .blog .posts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 20px;
  }
  .main .main-content .blog .posts .single-post {
    margin: 10px 0;
  }
  .main .main-content .blog .posts .single-post .post-content .posted {
    font-size: 12px;
  }
  .main .main-content .blog .posts .single-post .post-content .post-title {
    font-size: 16px;
  }
  .main .main-content .blog .pagination {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 920px) {
  .main header .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    padding: 20px;
  }
  .main header .navbar .logo {
    width: 500px;
    margin-left: 100px;
  }
  .main header .navbar .logo .logo-img {
    width: 100%;
  }
  .main header .navbar .links {
    display: initial;
    background: none;
    position: initial;
    height: initial;
    width: 600px;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .main header .navbar .links .link {
    display: inline-block;
    margin: 10px 0;
    padding: 0 25px;
  }
  .main header .navbar .links .link a {
    font-size: 16px;
    color: #fff;
  }
  .main header .navbar .links .link .active {
    color: #f1a042 !important;
  }
  .main header .navbar .toggle-navbar {
    display: none;
  }
  .main .main-content .hero {
    position: relative;
    min-height: 90vh;
  }
  .main .main-content .hero .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 250px;
        grid-template-columns: 1fr 250px;
    width: 80%;
    max-width: 80%;
    margin-top: 30px;
  }
  .main .main-content .hero .content .left-aside {
    margin-top: 40px;
  }
  .main .main-content .hero .content .left-aside article .title h1 {
    font-size: 35px;
    line-height: 1.2;
  }
  .main .main-content .hero .content .left-aside article .title p {
    font-size: 18px;
  }
  .main .main-content .hero .content .left-aside article .title h1, .main .main-content .hero .content .left-aside article .title p {
    text-align: left;
  }
  .main .main-content .hero .content .left-aside article .iphone-animate {
    display: none;
  }
  .main .main-content .hero .content .left-aside article .download-app {
    text-align: left;
    margin-top: 40px;
  }
  .main .main-content .hero .content .left-aside article .download-app p {
    text-align: left;
  }
  .main .main-content .hero .content .left-aside article .download-app ul {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    width: 100%;
  }
  .main .main-content .hero .content .right-aside {
    display: block;
  }
  .main .main-content .hero .content .right-aside .iphone-animate {
    position: absolute;
  }
  .main .main-content .hero .content .right-aside .iphone-animate img {
    height: 460px;
  }
  .main .main-content .design-sprint .right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main .main-content .design-sprint .right h1 {
    color: #302b70;
    font-size: 35px;
  }
  .main .main-content .our-product {
    padding: 20px 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main .main-content .our-product .title h1 {
    font-size: 35px;
  }
  .main .main-content .our-product .title p {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .main .main-content .our-product .product-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }
  .main .main-content .our-product .product-images .gallery-1, .main .main-content .our-product .product-images .gallery-3 {
    display: block;
  }
  .main .main-content .our-product .download-app {
    margin-top: 40px;
  }
  .main .main-content .our-product .download-app h4 {
    font-size: 20px;
  }
  .main .main-content .our-product .download-app p {
    color: #787Cd1;
    margin: 20px 0;
    font-size: 16px;
  }
  .main .main-content .our-product .download-app ul {
    width: 30%;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy:nth-child(1) .right {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy:nth-child(2) .left {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy:nth-child(3) .right {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main .main-content .blog .posts {
    padding: 30px;
  }
  .main .main-content .blog .pagination {
    width: 40%;
  }
  .main footer .footer-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .8fr .7fr;
        grid-template-columns: 1fr .8fr .7fr;
    width: 95%;
    margin: 0 auto;
    padding: 40px 0;
  }
  .main footer .footer-wrapper .contact-form {
    display: block;
  }
  .main footer .footer-wrapper .contact-form .title {
    text-align: left;
    margin-bottom: 10px;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group {
    margin: 15px 0;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group input, .main footer .footer-wrapper .contact-form .form-container form .form-group textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    padding: 5px;
    width: 90%;
    color: #fff;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group input::-webkit-input-placeholder, .main footer .footer-wrapper .contact-form .form-container form .form-group textarea::-webkit-input-placeholder {
    color: #fff;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group input:-ms-input-placeholder, .main footer .footer-wrapper .contact-form .form-container form .form-group textarea:-ms-input-placeholder {
    color: #fff;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group input::-ms-input-placeholder, .main footer .footer-wrapper .contact-form .form-container form .form-group textarea::-ms-input-placeholder {
    color: #fff;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group input::placeholder, .main footer .footer-wrapper .contact-form .form-container form .form-group textarea::placeholder {
    color: #fff;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group input:focus, .main footer .footer-wrapper .contact-form .form-container form .form-group textarea:focus {
    outline: none;
  }
  .main footer .footer-wrapper .contact-form .form-container form .form-group input:hover, .main footer .footer-wrapper .contact-form .form-container form .form-group textarea:hover {
    border-bottom: 2px solid #fff;
  }
  .main footer .footer-wrapper .contact-form .form-container form .btn {
    text-align: right;
  }
  .main footer .footer-wrapper .contact-form .form-container form .btn .submit-btn {
    background: none;
    border: 1px solid #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: inherit;
    padding: 5px 20px;
    color: #fff;
    margin-right: 10%;
  }
  .main footer .footer-wrapper .quick-links .about {
    display: block;
  }
  .main footer .footer-wrapper .quick-links .about .title {
    text-align: center;
    margin-bottom: 10px;
  }
  .main footer .footer-wrapper .quick-links .about ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main footer .footer-wrapper .quick-links .about ul .link {
    border: 1px solid #fff;
    padding: 3px 0;
    width: 170px;
    margin: 10px 0;
    border-radius: 5px;
  }
  .main footer .footer-wrapper .quick-links .about ul .link a {
    color: #fff;
  }
  .main footer .footer-wrapper .quick-links .download-app {
    margin-top: 120px;
  }
  .main footer .footer-wrapper .quick-links .download-app ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  .main footer .footer-wrapper .contact-address {
    text-align: left;
  }
  .main footer .footer-wrapper .contact-address .title {
    margin-top: 0;
    text-align: left;
  }
  .main footer .footer-wrapper .contact-address .email {
    text-align: left;
  }
  .main footer .footer-wrapper .contact-address ul {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    margin-top: 0;
  }
  .main footer .footer-wrapper .contact-address ul .social-link {
    margin: 0;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .main header .navbar .logo {
    margin-left: 180px;
  }
  .main header .navbar .links {
    margin-left: 280px;
  }
  .main .main-content .hero {
    min-height: 100vh;
  }
  .main .main-content .hero .content {
    width: 70%;
  }
  .main .main-content .hero .content .left-aside article .title h1 {
    font-size: 50px;
  }
  .main .main-content .hero .content .left-aside article .title p {
    font-size: 18px;
  }
  .main .main-content .hero .content .left-aside article .download-app h4 {
    font-size: 24px;
  }
  .main .main-content .hero .content .left-aside article .download-app p {
    font-size: 18px;
  }
  .main .main-content .hero .content .right-aside .iphone-animate img {
    height: 560px;
  }
  .main .main-content .design-sprint {
    width: 70%;
    -ms-grid-columns: 1fr 380px;
        grid-template-columns: 1fr 380px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .main .main-content .design-sprint .right h1 {
    font-size: 45px;
  }
  .main .main-content .our-product .title h1 {
    font-size: 50px;
  }
  .main .main-content .our-product .title p {
    width: 40%;
  }
  .main .main-content .our-product .product-images {
    width: 70%;
  }
  .main .main-content .why-dezy-it h1 {
    font-size: 50px;
  }
  .main .main-content .why-dezy-it .why-wrapper {
    width: 60%;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy {
    margin: 40px 0;
  }
  .main .main-content .why-dezy-it .why-wrapper .single-dezy .left .dezy-title {
    font-size: 25px;
    font-weight: bold;
  }
  .main .main-content .blog h1 {
    font-size: 50px;
  }
  .main .main-content .blog .posts {
    width: 70%;
    margin: 0 auto;
    gap: 2rem;
  }
  .main .main-content .blog .pagination ul {
    width: 40%;
    margin: 0 auto;
  }
  .main footer .footer-wrapper {
    width: 70%;
  }
  .main footer .footer-wrapper .contact-address {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .main footer .footer-wrapper .quick-links .download-app ul {
    width: 80%;
  }
}
